In [2]:
import pandas as pd

In [3]:
crash_data = pd.read_csv('/workspaces/TechCatalyst_capston3/tableau/crash dashboard/Motor_Vehicle_Collisions Query.csv')
crash_data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/02/2023,6:22,BRONX,10459.0,40.829440,-73.89907,"(40.82944, -73.89907)",NaN,NaN,1224 UNION AVENUE,...,NaN,NaN,NaN,NaN,4664801,Sedan,NaN,NaN,NaN,NaN
1,09/02/2023,0:00,QUEENS,11692.0,40.596153,-73.79896,"(40.596153, -73.79896)",NaN,NaN,69-49 BURCHELL AVENUE,...,Unspecified,Unspecified,NaN,NaN,4659127,USPS,Sedan,Sedan,NaN,NaN
2,09/02/2023,8:28,MANHATTAN,10001.0,40.757020,-74.00494,"(40.75702, -74.00494)",WEST 34 STREET,12 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4665737,Bike,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,09/02/2023,3:37,STATEN ISLAND,10309.0,40.542152,-74.20350,"(40.542152, -74.2035)",WOODROW ROAD,GILROY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4659541,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,09/02/2023,6:30,MANHATTAN,10014.0,40.739380,-74.00995,"(40.73938, -74.00995)",GANSEVOORT STREET,WEST STREET,NaN,...,Unspecified,NaN,NaN,NaN,4658974,Sedan,Motorcycle,NaN,NaN,NaN

In [4]:
crash_data['CRASH TIME'] = pd.to_datetime(crash_data['CRASH TIME'])

/tmp/ipykernel_3547/3803935790.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crash_data['CRASH TIME'] = pd.to_datetime(crash_data['CRASH TIME'])

In [5]:
crash_data['HOUR'] = crash_data['CRASH TIME'].dt.hour

In [6]:
crash_data['COLLISION_ID'].count()

np.int64(47484)

In [7]:
avg_collisions = crash_data.groupby(['BOROUGH', 'HOUR'])['COLLISION_ID'].count().reset_index()

In [8]:
avg_collisions['Percent Increase'] = ((avg_collisions['COLLISION_ID']/47484)*100).round(2)
avg_collisions.columns = ['BOROUGH', 'HOUR', 'Avg Collision Count', 'Percent Increase']
avg_collisions

           BOROUGH  HOUR  Avg Collision Count  Percent Increase
0            BRONX     0                  313              0.66
1            BRONX     1                  154              0.32
2            BRONX     2                  126              0.27
3            BRONX     3                  111              0.23
4            BRONX     4                  135              0.28
..             ...   ...                  ...               ...
115  STATEN ISLAND    19                   95              0.20
116  STATEN ISLAND    20                   79              0.17
117  STATEN ISLAND    21                   70              0.15
118  STATEN ISLAND    22                   63              0.13
119  STATEN ISLAND    23                   59              0.12

[120 rows x 4 columns]

In [24]:
brooklyn = avg_collisions[avg_collisions['BOROUGH'] == 'BROOKLYN']
test = brooklyn[['HOUR', 'Percent Increase']]
test.swapaxes("HOUR", "Percent Increase")

/tmp/ipykernel_3547/1997665557.py:3: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  test.swapaxes("HOUR", "Percent Increase")

ValueError: No axis named HOUR for object type DataFrame

In [45]:
bronx = avg_collisions[avg_collisions['BOROUGH'] == 'BRONX']
bronx

   BOROUGH  HOUR  Avg Collision Count  Percent Increase
0    BRONX     0                  313              0.66
1    BRONX     1                  154              0.32
2    BRONX     2                  126              0.27
3    BRONX     3                  111              0.23
4    BRONX     4                  135              0.28
5    BRONX     5                  134              0.28
6    BRONX     6                  199              0.42
7    BRONX     7                  324              0.68
8    BRONX     8                  451              0.95
9    BRONX     9                  307              0.65
10   BRONX    10                  270              0.57
11   BRONX    11                  326              0.69
12   BRONX    12                  352              0.74
13   BRONX    13                  332              0.70
14   BRONX    14                  441              0.93
15   BRONX    15                  452              0.95
16   BRONX    16                  447              0.94
17   BRONX    17                  473              1.00
18   BRONX    18                  399              0.84
19   BRONX    19                  399              0.84
20   BRONX    20                  356              0.75
21   BRONX    21                  320              0.67
22   BRONX    22                  266              0.56
23   BRONX    23                  212              0.45